<div class="jumbotron">
	<div class="container">
		<h1>Your Shopping cart</h1>
	</div>
</div>


<div class="row">
	<div class="col-md-2">
		<strong>&nbsp;</strong>
	</div>
	<div class="col-md-5">
		<strong>Item description</strong>
	</div>
	<div class="col-md-1">
		<strong>&nbsp;</strong>
	</div>
	<div class="col-md-2">
		<strong>Quantity</strong>
	</div>
	<div class="col-md-1">
		<strong>Item price</strong>
	</div>
	<div class="col-md-1">
		<strong>Subtotal</strong>
	</div>
</div>

<div class="row" ng-repeat="item in cart track by $index" ng-if="categories.length>0">
	<div class="col-md-2">
		<img src="{{item.image}}" style="padding:1rem;" />
	</div>
	<div class="col-md-5">
		<h4><a ng-href="#/{{getProductCategory(item.category_id) + '/' + item.url_key}}">{{item.product_name}}</a></h4>
		<p>{{item.description}}</p>
	</div>
	<div class="col-md-1">
		<h4>&nbsp;</h4>
		<button class="btn btn-danger btn-sm" ng-click="removeFromCart(item.cart_id);"> Remove </button>
	</div>
	<div class="col-md-2">
		<h4>&nbsp;</h4>
		<button class="btn btn-primary btn-sm" ng-click="qtyAmount($index, -1)"> - </button>
		<input type="text" class="form-control" id="itemQty" placeholder="{{item.qty}}" style="display:inline-block; width:auto; max-width:40px;">
		<button class="btn btn-success btn-sm" ng-click="qtyAmount($index, +1)"> + </button><br />
	</div>
	<div class="col-md-1">
		<h4>&nbsp;</h4>
		{{item.price}}&euro;
	</div>
	<div class="col-md-1">
		<h4>&nbsp;</h4>
		{{item.price * item.qty}}&euro;
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<br />
		<button class="btn btn-primary btn-sm pull-left" ng-click="continueShopping()">
			continue shopping
		</button>
		<button class="btn btn-success btn-sm pull-right" ng-click="continueToCheckout()">
			continue to checkout
		</button>
		<br /><br />
	</div>
</div>

