<div class="jumbotron">
	<div class="container">
		<h1>Checkout</h1>
	</div>
</div>


<div class="row">
	<div class="col-md-7">
		<strong>Address and delivery options</strong>
	</div>
	<div class="col-md-5">
		<strong>Order summary</strong>
	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<strong>Address and delivery options</strong>
	</div>
	<div class="col-md-5">
		<table>
			<tr ng-repeat="item in cart track by $index">
				<td><img src="{{item.image}}" style="padding:1rem;" /></td>
				<td>{{item.qty}} x {{item.product_name}}</td>
				<td>{{item.price * item.qty}}&euro; </td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<br />
		<button class="btn btn-primary btn-sm pull-left">
			continue shopping
		</button>
		<button class="btn btn-success btn-sm pull-right" ng-click="continueToCheckout()">
			continue to checkout
		</button>
		<br /><br />
	</div>
</div>

