<div class="container">

	<div class="alert alert-danger" role="alert"  ng-if="error && !message">
		<h4 style="white-space: pre-wrap;">{{ error }}</h4>
		<p>try again or contact our customer service</p>
	</div>

	<div class="alert alert-success" role="alert"  ng-if="message && !error">
		<h4>{{ message }}</h4>
		<p><a href="#/">Start shopping!</a></p>
	</div>

	<div class="col-sm-offset-3 col-md-offset-2">
		<h1>Login</h1>
	</div>
<form class="form-horizontal"><!-- name="LoginCtrl.login">-->
	<div class="form-group">
    <label for="email" class="col-sm-5 col-md-4 control-label">Email address</label>
		<div class="col-sm-7 col-md-8">
			<input type="email" class="form-control"  id="email" placeholder="Email" ng-model="user.email">
		</div>
  </div>

  <div class="form-group">
    <label for="password" class="col-sm-5 col-md-4 control-label">Password</label>
		<div class="col-sm-7 col-md-8">
    	<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
		</div>
  </div>

	<div class="form-group">
    <div class="col-sm-offset-5 col-sm-7 col-md-offset-4 col-md-8">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7 col-md-offset-4 col-md-8">
      <button type="submit" class="btn btn-default" ng-click="login()" ng-disabled="!user.email || !user.password" type="submit">
				Log in
			</button>
    </div>
  </div>

</form>
</div>
