<div class="container">
	<!-- class="block-grid-xs-1 block-grid-sm-4 block-grid-md-6 block-grid-lg-8">-->
	<div class="alert alert-success" role="alert" ng-if="message">
		<h4>{{message}}</h4>
		<p><a href="#/">Start shopping!</a></p>
	</div>


	<div class="col-md-6">
		<h1>Login</h1>
		<br />
		<form>
			<div class="form-group">
				<label for="email" class="control-label">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
			</div>

			<div class="form-group">
				<label for="password" class="control-label">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
			</div>

			<div class="form-group">
				<label class="control-label">&nbsp;</label>
				&nbsp;<br />
				&nbsp;<br />
				&nbsp;<br />
				&nbsp;<br />
				&nbsp;<br />
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label>
          <input type="checkbox"> Remember me
        </label>
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-default" ng-click="loginAndContinueToCheckout()" ng-disabled="!user.email || !user.password" type="submit">
				&nbsp; Log in and continue &nbsp;
				</button>
			</div>
		</form>
	</div>



	<div class="col-md-6">
		<h1>Register</h1>
		<br />
		<form>
			<!-- name="LoginCtrl.login">-->
			<div class="form-group">
				<label for="first_name" class="control-label">First name</label>
				<input type="text" class="form-control" id="first_name" placeholder="First name" ng-model="user.first_name">
			</div>

			<div class="form-group">
				<label for="last_name" class="control-label">Last name</label>
				<input type="text" class="form-control" id="last_name" placeholder="Last name" ng-model="user.last_name">
			</div>

			<div class="form-group">
				<label for="email" class="control-label">Email address</label>
				<input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
			</div>

			<div class="form-group">
				<label for="password" class="control-label">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
			</div>
<!--
			<div class="form-group">
				<label for="password-again" class="control-label">Retype Password</label>
				<input type="password" class="form-control" id="password-again" placeholder="Password" ng-model="user.passwordAgain">
			</div>
-->
			<div class="form-group">
				<button type="submit" class="btn btn-default" ng-click="register()" ng-disabled="!user.email || !user.password" type="submit">
					Register and continue
				</button>
			</div>
		</form>
	</div>

</div>
