<div class="container">
	<!-- class="block-grid-xs-1 block-grid-sm-4 block-grid-md-6 block-grid-lg-8">-->
	<div class="alert alert-success" role="alert"  ng-if="message">
		<h4>{{message}}</h4>
	</div>
	<div class="col-xs-12 col-md-12">
		<h1>Logout</h1>
		<h3>You have been succesfully logged out.</h3>
	</div>
</div>
