<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Hello, world!</h1>
		<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and
			three supporting pieces of content.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	</div>
</div>



<div class="row">
	<div class="col-md-3">
		<div style="display:inline-block; width:100%; height:1em; background:#333;"></div>
		<h2>Categories</h2>
		<ul>
			<li ng-repeat="category in categories track by $index"><a href="#/category/{{category.category}}">{{category.category}}</a></li>
		</ul>
	</div>

	<div class="col-md-9">
		<div style="display:inline-block; width:100%; height:1em; background:#333;"></div>
		<h1>Products on sale</h1>
		<div class="block-grid-xs-1 block-grid-sm-2 block-grid-md-3">
			<div ng-repeat="product in productsOnSale track by $index">
				<h5>{{getProductCategory(product.category_id)}}</h5>
				<h3>
					<a href="#/{{getProductCategory(product.category_id)}}/{{product.url_key}}">{{product.product_name}}</a>
				</h3>

				<img src="{{product.image}}" />
				<p>{{product.description}}</p>
				<a class="btn btn-lg btn-primary" ng-href="#/{{getProductCategory(product.category_id)}}/{{product.url_key}}">&nbsp;View&nbsp;</a>
				&nbsp;&nbsp;
				<a class="btn btn-lg btn-success" ng-click="addToCart(product)">Buy &nbsp;<span class="glyphicon glyphicon-ok"></span></a>
			</div>
		</div>

	</div>
</div>
