<script type="text/ng-template" id="modal.html">
	<div class="modal-header">
		<h3>{{modalOptions.headerText}}</h3>
	</div>
	<div class="modal-body">
		<b>{{modalOptions.bodyText}}</b>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
		<button data-ng-if="modalOptions.closeButtonText" type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
	</div>
</script>

