
<div class="row">
	<div class="col-md-6">
		<div style="display:inline-block; width:100%; height:1em; background:#333;"></div>
		<img src="{{image_url}}" style="width:100%; height:auto;" />
	</div>

	<div class="col-md-6">
		<div style="display:inline-block; width:100%; height:1em; background:#333;"></div>
		<h1>{{product.product_name}}</h1>
		<h3>{{product.price}} &euro;</h3>
		<h5>Color: {{product.color}}</h5>
		<h5>Size: {{product.size}}</h5>
		<p>{{product.description}}</p>
		<div ng-if="product.on_sale">sale!</div>
		<!--
		<a class="btn btn-lg btn-success" ng-href="#/">Buy &nbsp;<span class="glyphicon glyphicon-ok"></span></a>
		-->
		<button class="btn btn-lg btn-success" ng-click="addToCart(product)">
			<span class="glyphicon glyphicon-ok"></span> Add to Cart
		</button>
	</div>
</div>
