<div class="container">
	<!-- class="block-grid-xs-1 block-grid-sm-4 block-grid-md-6 block-grid-lg-8">-->
	<div class="alert alert-success" role="alert"  ng-if="message">
		<h4>{{message}}</h4>
		<p><a href="#/">Start shopping!</a></p>
	</div>
	<div class="col-sm-offset-3 col-md-offset-2">
		<h1 class="title">Register</h1>
	</div>
	<form class="form-horizontal"><!-- name="RegisterCtrl.register"> -->
		<div class="form-group">
			<label for="first_name" class="col-sm-5 col-md-4 control-label">First name</label>
			<div class="col-sm-7 col-md-8">
				<input type="text" class="form-control" id="first_name" placeholder="First name" ng-model="user.first_name">
			</div>
		</div>

		<div class="form-group">
			<label for="last_name" class="col-sm-5 col-md-4 control-label">Last name</label>
			<div class="col-sm-7 col-md-8">
				<input type="text" class="form-control" id="last_name" placeholder="Last name" ng-model="user.last_name">
			</div>
		</div>

		<div class="form-group">
			<label for="email" class="col-sm-5 col-md-4 control-label">Email address</label>
			<div class="col-sm-7 col-md-8">
				<input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
			</div>
		</div>

		<div class="form-group">
			<label for="password" class="col-sm-5 col-md-4 control-label">Password</label>
			<div class="col-sm-7 col-md-8">
				<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-7 col-md-offset-4 col-md-8">
				<button type="submit" class="btn btn-default" ng-click="register()" ng-disabled="!user.email || !user.password" type="submit">
					Register
				</button>
			</div>
		</div>

	</form>
</div>
