/*your css*/
body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}





.header {
 clear:both;
 height:auto;
 background:#555;
}

.navbar-brand {
	height:auto;
}
/*.navbar-default, .navbar-collapse, .navbar-default .navbar-form*/
.navbar-default
{
	background:transparent;
	border-radius:0;
	border:none;
}

.navbar {
	margin-bottom:0;
}

.navbar-default .navbar-brand {
  color: #eee;
}

.navbar-default .navbar-nav > li > a {
  color: #aaa;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #aaa;
  background-color: transparent;
}


.block-grid-xs-1 h3,
.block-grid-sm-2 h3,
.block-grid-md-3 h3
{
	height: 52px;
}

.block-grid-xs-1 p,
.block-grid-sm-2 p,
.block-grid-md-3 p
{
	height:64px;
	word-break: break-all;
  white-space: normal;
	overflow: hidden;
	margin-top:0.5em;
}


.modal {
display: block;
}

.modal-sm { width: 300px; }
.modal-md { width: 440px; }
.modal-lg { width: 620px; }

.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}

.navbar-collapse {
	/*border: 1px solid #ff0000;*/
}

.cartContainer {
	display:inline-block;
	float:right;
	width:80%;
	height:42px;
	/*border: 1px solid #00ff00;*/
}

.naviCart
{
	float:right;
	clear:both;
	width:12wv;
	height:48px;
	border:1px solid #ccc;
}



@media (min-width: 768px) {
  .container {
    width: 750px;
    /*border:1px solid #ff0000;*/
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    /*border:1px solid #00ff00;*/
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    /*border:1px solid #0000ff;*/
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


