<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/bootstrap-block-grid/dist/bootstrap3-block-grid.min.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>

<body ng-app="frontendApp">
	<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<div class="header" ng-controller="AppCtrl">

		<div style="color:#fff;">	<!-- class="alert alert-info" role="alert"-->
			authenticated: {{ isAuthenticated }} <br />
			ne_uuid: {{ uuid }}
		</div>

		<a class="navbar-brand" href="#">
			<img alt="Brand" src="images/logo.png" />		<!-- style="width:20px; height:20px;" -->
		</a>

<div class="navbar navbar-default" role="navigation" style="position:relative; display:block; clear:right; right:10vw; top:2vh;">
	<ul class="nav navbar-nav navbar-right" style="background:#ff920b; width:12vw; text-align:right;" >
		<li class="dropdown" style="float:right; color:#fff; text-align:center;">
			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" ng-click="getCart()"
				aria-haspopup="true" aria-expanded="false" style="background:#ff920b; width:12vw; color:#fff; text-align:center;">
				Cart <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="item in cart track by $index">		<!--#/category/{{category.url_key}}-->
					<a ng-href="">{{item.product_name}} {{item.price}}&euro; qty: {{item.qty}}</a>
				</li>
				<li>&nbsp;</li>
				<li><a ng-href="#/cart"><strong>View cart</strong></a></li>
			</ul>
		</li>
	</ul>
</div>


		<div class="navbar navbar-default" role="navigation" style="clear:both;">
			<!--<div class="container-fluid">-->

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
					<a class="navbar-brand" href="#/">frontend</a>
				</div>

				<div class="collapse navbar-collapse" id="js-navbar-collapse">

					<ul class="nav navbar-nav"><!-- ng-class="$variableToEvaluate ? 'class-if-true' : 'class-if-false'"-->
					<!--<div ng-class="{value1:'class1', value2:'class2'}[condition]"></div>-->
						<li  ng-click="select('Home')" ng-class="isActive('Home') ? 'active' : ''"><a href="#/">Home</a></li>	<!--  class="active"  -->
						<li class="dropdown" ng-click="select('Categories')"  ng-class="isActive('Categories') ? 'active' : ''">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-repeat="category in categories track by $index">
									<a ng-href="#/category/{{category.url_key}}">{{category.category}}</a>
								</li>
							</ul>
						</li>
						<li  ng-click="select('Sale')" ng-class="isActive('Sale') ? 'active' : ''"><a href="#/sale">Sale</a></li>
						<li  ng-click="select('About')" ng-class="isActive('About') ? 'active' : ''"><a href="#/about">About</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li ng-if="!isAuthenticated"  ng-click="select('Sign in')" ng-class="isActive('Sign in') ? 'active' : ''"><a href="#/login">Sign in</a></li>
						<li ng-if="!isAuthenticated"  ng-click="select('Register')" ng-class="isActive('Register') ? 'active' : ''"><a href="#/register">Register</a></li>
						<li ng-if="isAuthenticated"   ng-click="select('Log out')" ng-class="isActive('Log out') ? 'active' : ''"><a href="#" ng-click="logout()">Log out</a></li>
						<li class="dropdown" ng-if="isAuthenticated"  ng-click="select('Account')" ng-class="isActive('Account') ? 'active' : ''">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/">Account information</a></li>
								<li><a href="#/">Wishlist</a></li>
								<li><a href="#/">Purchase history</a></li>
								<!--<li><a href="#/">Reviews</a></li>-->
								<li>&nbsp;</li>
								<li><a href="#/">Log out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			<!--</div>-->
		</div>
	</div>


	<div class="container-fluid">
		<!--
		<div class="alert alert-info" role="alert">
			authenticated: {{ isAuthenticated }} <br />
			ne_uuid: {{ uuid }}
		</div>
		-->
		<div ng-view=""></div>
	</div>

	<div class="footer">
		<div class="container">
			<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
		</div>
	</div>

	<ng-include src="'views/modal.html'"></ng-include>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		/*
			!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
				(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
				r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
			}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X');
			ga('send', 'pageview');
		*/
	</script>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

<!--
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>
-->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/services/necommerce.js"></script>
	<script src="scripts/services/tokeninterceptor.js"></script>
	<script src="scripts/services/authfactory.js"></script>
	<script src="scripts/services/userservice.js"></script>
	<script src="scripts/services/cartservice.js"></script>
	<script src="scripts/services/modalservice.js"></script>
	<script src="scripts/services/loader.js"></script>

	<script src="scripts/controllers/navigation.js"></script>
	<script src="scripts/controllers/app.js"></script>
	<script src="scripts/controllers/checkout.js"></script>
	<!--<script src="scripts/controllers/login.js"></script>
	<script src="scripts/controllers/logout.js"></script>
	<script src="scripts/controllers/register.js"></script>
	<script src="scripts/controllers/login-register.js"></script>-->
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/category.js"></script>
	<script src="scripts/controllers/product.js"></script>
	<script src="scripts/controllers/cart.js"></script>
	<script src="scripts/controllers/sale.js"></script>
	<script src="scripts/controllers/about.js"></script>
	<!-- endbuild -->
</body>

</html>
